sonar-xml-plugin/src/test/resources/checks/XmlSchemaCheck/dtd_and_xsd/entities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
  targetNamespace="http://redone/cbs/apiEntities" 
  elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:x="http://redone/cbs/apiEntities" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <element name="apiEntities">
    <complexType>
      <sequence>
        <choice minOccurs="0" maxOccurs="unbounded">
          <element name="package">
            <complexType>
              <attribute name="name" type="string"/>
            </complexType>
          </element>
        </choice>
      </sequence>
    </complexType>
  </element>  
</schema>
